<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="costasoft.materialapp">

    <!-- Permiso para utilizar internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".InsertActivity"
            android:label="@string/title_activity_insert"
            android:theme="@style/AppTheme" />
        <activity android:name=".materialesList" />
        <activity android:name=".MaterialBuscar" />
        <activity
            android:name=".Materiales_verWeb"
            android:screenOrientation="portrait" />
        <activity android:name=".Materiales_eliminarTodos" />
        <activity android:name=".cliente_nuevoCliente" />
        <activity android:name=".Material_detalle" />
        <activity android:name=".Material_presupuesto_armarLista" />
        <activity android:name=".Material_presupuesto_listaConfirmar"></activity>
    </application>

</manifest>